.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

@media (max-width: 984px) {
  .footer__column-heading {
    line-height: 20px;
    font-size: 14px;
  }
}
