.footer__column-link {
  padding: 0;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 984px) {
  .footer__column-link {
    line-height: 20px;
    font-size: 14px;
  }
}
