.header__title {
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
}

@media (max-width: 584px) {
    .header__title {
        font-size: 20px;
    }

  }

  @media (max-width: 384px) {
    .header__title {
        font-size: 20px;
    }

  }
  