.header__email {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}


@media (max-width: 584px) {
    .header__email {
        font-size: 14px;
        padding: 14px 28px;
    }

  }
  