.footer {
  margin: 30px auto 30px auto;
  box-sizing: border-box;
  max-width: 984px;
  
}


@media (max-width: 984px) {
  .footer {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .footer {
    margin: 30px auto 0 auto;
  }
}
